.col-md-12
  %ul.proto-sub-list.list-group
  -3.times do |i|
    %li.list-group-item.col-md-4
      .image-upload
        = f.fields_for :capture_images, @prototype.capture_images.sub_image[i] do |af|
          = af.file_field :image, id: "file#{ i + 2 }"
          = af.hidden_field :satus, value: "sub_image"
          = image_tag(@prototype.capture_images[ i + 1 ].image,src: "", id: "js-pre-image#{ i + 2 }", width: "100%", height: "100%")
